/* Layout */

* {
		box-sizing: border-box;
	}
	
.header {
	padding: 60px;
	text-align: center;
	background: #0e35a069;
	color: white;
	font-size: 30px;
}
.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration:none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}
.header a:logo {
	font-size: 25px;
	font-weight: bold;
}
.header a:hover {
	background-color: azure;
	color:black;
}
.content {
	max-width: 960px;
	margin:auto;
}
.main {
	margin-bottom: 30px;
}
.column{
	float: left;
	width:50%;
	flex:50%;
}
.row{
	display: flex;
}

.row:after {
	content:"";
	display: table;
	clear: both;
}
/* Navbar style */
.navbar {
	top: 0;
	width: 100%;
	background-color: beige;
	overflow:auto;
}

/* Navigation Links */
.navbar a {
	float: left;
	padding: 12px;
	color: black;
	text-decoration: none;
	font-size: 20px;
	width: 25%;
	text-align: center;
}

/* Hover background */
.navbar a:hover {
	background-color: grey;
}
.navbar a:active {
	background-color: forestgreen;
}

@media screen and (max-width:500px) {
	.navbar a {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}
}
body {
	font-family: Alef, Roboto, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: #ffffff;
}

.footer {
	background-color: #ffffff;
	color: #ffffff;
	text-align: center;
	font-size: 142px;
	padding: 15px;
}
