<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Standard HTML5-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalability=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- FavIcon-->
    <link rel="icon" href="https://img.icons8.com/small/16/000000/share-2.png">
    <!-- Favicon End-->
    <!-- Tittel på webside-->
    <title>Portfolio</title>
    <!-- Tittel End-->

    <!-- Icon Library-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Icon Library End-->

    <!-- Custom Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Alef|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Custom styles-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" href="https://github.com/larsenjr/larsenjr.github.io/tree/master/css/style.css"/>

    <!-- Custom Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascript.js"> </script>

    </head>