<body>

        <div class="full-bg-image">
                <div class="container">
                  
        <nav class="navbar w3-black" href="pageTop" id="NavBar">
            <a class="active" href="http://fsi.larsenjr.no/" class="w3-button-w3-bar-item"><i class="fas fa-home"> </i>Home</a>
            <a href="#ServerDrift" class="w3-button-w3-bar-item"><i class="fas fa-server"></i> Serverdrift</a>
            <a href="#Nettverk" class="w3-button-w3-bar-item"><i class="fas fa-wifi"></i>Nettverk</a>
            <a href="#Gammelt" class="w3-button-w3-bar-item"><i class="fas fa-folder"></i>Gammelt</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"> <i class="fa fa-bars"></i></a>
        </nav>            
    </section>
</body>
<section class="w3-container w3-center-w3-content" style="max-witdh:600px">
    <h2 class="w3-wide"> Trykk på de respektive fanene for å komme til oppgaver</h2>
</section>
<script> 
function myFunction() {
    var x = "document.getElementById("navbar");
    if (x.className === "navbar"){
        x.className += "responsive";
    }
    else {
        x.className ="navbar";
    }
}
</script>
