<body id="page-top">
      
    <div class="header">
        
        <a href="#page-top" class="logo" text-align="auto"> Portfolio </a>
    
                <div id="navbar">
                        <div class="content" href="page-top" role="navigation" id="MainNavbar" class="responsive">

                                <a class="active" href="#page-top"button onclick="ScrollToElement()"><i class="fa fa-home"> </i> Home </a></button>
                                <a href="#Serverdrift"button onclick="ScrollToElement()"><i class="fa fa-server"></i> Serverdrift </a></button>
                                <a href="#nettverk"button onclick="ScrollToElement()"><i class="fa fa-wifi"></i> Nettverk </a></button>
                                <a href="#gammelt"button onclick="ScrollToElement()"><i class="fa fa-folder"></i> Gammelt</a></button>
                                <a href="javascript:void(0);" class="icon" onclick="NavSwitchToSmallResponsive()">
                                    <i class="fa fa-bars"></i></a>
                            </div>
                </div>
        </div>
    </div>
    <!-- Setter image og gjør image "responsive". -->
    <div class="image" alt="sky" class="responsive">  
    </div> 
        <div class="content"></div>
                <section class="main">
                        <h2 class="w3-wide"> Trykk på de respektive fanene for å komme til oppgaver</h2>
                </section><br>
            
        <section id="Serverdrift" id="nettverk" id="gammelt">
                     <!-- Grid System Row-->
                     <div class="row">
                         <div class="column" onclick="OpenTab('Serverdrift');"style="background:grey;"> Serverdrift</div>
                         <div class="column" onclick="OpenTab('Nettverk');"style="background:grey;"> Nettverk</div>
                         <div class="column" onclick="OpenTab('Gammelt');"style="background:grey;"> Gammelt</div>
                     </div>
                     <div id="Serverdrift" class="containerTab" style="display:none; background:black;">
                         <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                             <h2> Serverdrift</h2>
                             <ul>
                                 <li>
                                     <a href="fsi.larsenjr.no/fsi2/ADhierarkiDel1">AdHierarkiDel1</a> <br>
                                 </li>
                                 <li>
                                 <a href="fsi.larsenjr.no/fsi2/ADhierarkiDel2">AdHierarkiDel2</a><br>
                                 </li>
                             </ul>
                     </div>
                     <div id="Nettverk" class="containerTab" style="display:none; background:black;">
                             <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                                 <h2> Nettverkskommunikasjon</h2>
                                     <ul>
                                 <li>
                                     <a href="fsi.larsenjr.no/fsi2/arbeidskravII">Arbeidskrav II </a> <br>
                                 </li>
                                 <li>
                                     <a href="fsi.larsenjr.no/fsi2/OsiModellen">OSI modellen</a><br>
                                 </li>
                             </ul>
                     </div>
                     <div id="Gammelt" class="containerTab" style="display:none; background:black;">
                         <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                             <h2> Gammelt</h2>
                             <ul>
                                 <li>
                                     <a href="fsi.larsenjr.no/fsi2/MySQLGuide">MySQL Visual Studio Guide </a> <br>
                                 </li>
                                 <li>
                                     <a href="fsi.larsenjr.no/fsi2/arduino">Arduino Oppgave</a><br>
                                 </li>
                             </ul>
                     </div>
                    </section>

    <div class="content">

          <section id="social-media" style="max-width: 960px">
              <div class="social-media">
                  <a href="https://www.facebook.com/StianLarse">
                   <i class="fab fa-facebook"></i></a>
                      <a href="https://www.twitter.com/slarzern">
                   <i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/stian-larsen0904">
                  <i class="fab fa-linkedin"></i></a>
                      <a href="https://github.com/larsenjr">
                  <i class="fab fa-github"></i></a>
              </div>      
            
          </section>