<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Standard HTML5-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalability=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- FavIcon-->
    <link rel="icon" href="https://img.icons8.com/small/16/000000/share-2.png">
    <!-- Favicon End-->
    <title>LarsenJR</title>
    <!-- Icon Library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Icon Library End-->
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Alef" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Custom styles-->
    <link rel="stylesheet" href="{{ site.url }}/css/style.css" />
    https://github.com/larsenjr/larsenjr.github.io/tree/master/css
</head>
