---
---

@import "{{ site.theme }}";
@import "{{ site.theme }}/syntax-highlighting";

$content-width: 100%;
.main-content {
    max-width: -webkit-calc(#{$content-width});
    max-width: calc(#{$content-width});
}
