---
---

@import "{{ site.theme }}";


* {
    box-sizing: border-box;
  }
html, head, body {
	height: 100%;
	background-color: #f3f3f3;
    font-family: 'Alef', 'Roboto', sans-serif;
    scroll-behavior:smooth;
}

.page-header {
    background-image:url("https://image.larsenjr.no/2019-10-10_SWJKVT.png");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:auto;
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
    text-align:center;
    width:100%;

  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    overflow:hidden;
  }
  

  .header a.logo {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
  }
  
  .header a:hover {
    background-color: grey;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  
  .header-right {
    width: 100%;
    margin: auto;
    overflow: hidden;
    float: right;
    background-color: dodgerblue;
    color: black;
    text-align: center;
    padding: auto;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;

  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

.main {
    width: 100%;
    text-align: center;
    position:center;
}
.container {
    padding: 16px;
	margin:auto;
    width: 100%;
    position: center;
    text-align: center;
}

.content {
	max-width: 960px;
    margin: auto;
    padding: 16px;
    width:100%
}
h1, h2, h3 {
    position:center;
    margin:auto;
    font-family: 'Roboto';
}
.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
  
  .zoom:hover {
    transform: scale(1.5);
}

.p {
    text-align: center;
}
p {
    font-size: 24px
}
.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: black;
  }
  
  .containerTab {
    padding: 20px;
    color: grey;
  }
  
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

.row {
	display: flex;
}

.row:after {
	content: "";
	display:table;
	clear: both;
}

/* Navbar  */
.navbar, #navbar {
    position:auto;
    padding: 10px;
    width: 100%;
    overflow:hidden;
    background-color: dodgerblue;
    
}

/* Navigation Links */
.navbar, #navbar a {
    float: left;
    display:block;
    color: #f2f2f2;
    padding: 14px;
	font-size: 25px;
	width: 25%;
    text-align: center;
    text-decoration: none;
}

/* Hover background */
.navbar, #navbar a:hover {
	background-color: #ddd;
	color:black;
}

.navbar, #navbar a:active {
	background-color: #ddd;
}

.navbar, #navbar a.icon {
	display: none;
}
/* Responsive design for web */
@media screen and (max-width:600px) {
	/* Columns */
	.navbar a,
	.navbar a:not(:first-child) {
        float:none;
        display: block;
        width:100%;
        text-align:left;
	}

	.navbar a.icon {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}
}
@media screen and (max-width: 600px) {
	.navbar.responsive {position: relative;}
	.navbar.responsive a:icon {
		position: absolute;
		right:0;
        top: 0;
        left:0;
	}
	.navbar.responsive a{
		float: none;
		display: block;
		text-align:center;
	}
}
.responsive {
    max-width:auto;
    height:auto;
}
.social-media, #social-media {
    color: black;
    text-align: center;
    float:auto;
    font-size: 20px;
    
}
/* Footer */
.footer, #footer {
	color: black;
	text-align: center;
	font-size: 12px;
	padding: 0px;
}

/* Div IDs */

  /* Brukes for sticky navbar */
  .sticky {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 0px;
  }
  
  /* Sticky Navbar End */
.fade {
    margin:50px;
    padding:50px;
    background-color: white;
    opacity: 1;
}